<html>
  <header>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </header>
  <body>
    <h1><%= title %></h1>
    <div>
      <% if (isMe){ %>
        <a href="#">@ 提到我的(3)</a>
      <% } else{ %>
        <button>关注</button>
      <% } %>
    </div>
  </body>
</html>