<html>
  <header>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </header>
  <body>
    <%= title %>
    <div>
      <% if (isMe) %>
        <
    </div>
  </body>
</html>